img{
border-color: #8A2BE2;
border-radius: 12px;
			}
		button{
						height:35px;
						width: 200px;
						color:#fff;
						background-color: #7FFF00;
						top:50%;
						left:50%;
						border-color:#7FFF00;
						color: black;
						font-size:15px;
						
						
}
            body{
            background-color: #7FFF00;
            
            {